[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
pandas = "*"
google-cloud-storage = "*"
tensorflow-hub = "*"
python-multipart = "*"
tensorflow-aarch64 = "==2.13.1"
google-cloud-aiplatform = "*"

[requires]
python_version = "3.9"