[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
pandas = "*"
bs4 = "*"
requests = "*"
lxml = "*"
selenium = "*"
google-cloud-storage = "*"
tensorflow-hub = "*"
python-multipart = "*"
google-cloud-aiplatform = "*"
weaviate-client = "*"
openai = "==0.28"
llama-index = "*"

[requires]
python_version = "3.9"
