[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pandas = "*"
bs4 = "*"
requests = "*"
lxml = "*"
selenium = "*"
google-cloud-storage = "*"
tensorflow-hub = "*"
python-multipart = "*"
google-cloud-aiplatform = "*"
weaviate-client = "*"
openai = "*"
llama-index = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
