[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
transformers = "*"
tensorflow = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.9"
