[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
bs4 = "*"
requests = "*"
lxml = "*"
selenium = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
