/* styles.css */

body {
    margin: 0;
    background-color: #efefef;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdc-top-app-bar {
    align-items: center;
    position: relative;
    background-color: #A41034;
}

.mdc-top-app-bar__row {
    max-width: 700px;
}

.mdc-top-app-bar__title {
    font-weight: 900; 
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px; 
    align-items: flex-start;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


#textForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#websiteInput,
#websiteDropdown,      
#scrapeSessionDropdown,
#promptInput {
    width: 100%;            
    max-width: 700px;    
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#promptInput {
    height: 200px;
}

#searchButton {
    background-color: #A41034;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

#inputSection {
    width: 45%; 
}

#outputSection {
    position: relative;
    width: 45%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


#output {
    width: 100%;
    height: 200px; 
    padding: 10px;
    margin: 0; 
    box-sizing: border-box;
}

#loadingOverlay {
    display: none;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    height: 200px; 
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#urlsContainer {
    text-align: left; 
    margin-top: 10px; 
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

#buttonContainer {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

#buttonContainer img {
   width: 300px;
   height: 300px;
}

@keyframes popIn {
    0% { transform: scale(0); } /* Element starts from nothing */
    75% { transform: scale(1.2); } /* Element grows past its normal size */
    100% { transform: scale(1); } /* Element shrinks back to its normal size */
}

.popIn {
    animation-name: popIn;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}



